.cls-2-1 {
    fill: none;
    stroke: #29abe2;
    stroke-width: 0.5px;
}
.cls-2-1,
.cls-2-2 {
    stroke-miterlimit: 10;
}
.cls-2-2 {
    fill: #fff;
    stroke: #000;
}
.cls-2-3,
.cls-2-4,
.cls-2-5 {
    font-size: 12px;
}
.cls-2-3 {
    font-family: MyriadPro-Regular, Myriad Pro;
}
.cls-2-4 {
    font-family: Helvetica-Light, Helvetica;
}
.cls-2-5 {
    font-family: Helvetica, Helvetica;
}
.cls-2-6 {
    letter-spacing: -0.02em;
}
