

.cls-1-1,
.cls-1-4 {
    stroke-miterlimit: 10;
}
.cls-1-2,
.cls-1-3,
.cls-1-5 {
    font-size: 12px;
}
.cls-1-2 {
    font-family: MyriadPro-Regular, Myriad Pro;
}
.cls-1-3 {
    font-family: Helvetica-Light, Helvetica;
}
.cls-1-4 {
    fill: #fff;
    stroke: #000;
}
.cls-1-5 {
    font-family: Helvetica, Helvetica;
		z-index: 9999;
}
.cls-1-6 {
    letter-spacing: -0.02em;
}
.cls-1-7 {
    letter-spacing: -0.04em;
}

.cls-2-1 {
    fill: none;
    stroke: #29abe2;
    stroke-width: 0.5px;
}
.cls-2-1,
.cls-2-2 {
    stroke-miterlimit: 10;
}

.cls-2-2 {
    fill: #fff;
    stroke: #000;
}
.cls-2-3,
.cls-2-4,
.cls-2-5 {
    font-size: 12px;
}
.cls-2-3 {
    font-family: MyriadPro-Regular, Myriad Pro;
}
.cls-2-4 {
    font-family: Helvetica-Light, Helvetica;
}
.cls-2-5 {
    font-family: Helvetica, Helvetica;
}
.cls-2-6 {
    letter-spacing: -0.02em;
}



.room__names a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #515158;
	background: #f0f0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #aaa;
	outline: none;
}

a:hover,
button:hover {
	color: #515158;
	outline: none;
}

a:focus,
button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
}

/* Header */

.main {
	overflow: hidden;
	width: calc(100vw - 300px);
	height: 100vh;
}

.office {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
	-webkit-perspective: 3500px;
	perspective: 3500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  position: absolute;
  left: 0;
  top: 0;
  /*width: 960px;*/

}

.office.office--content-open {
	-webkit-transform: translate3d(0,-25%,0) scale3d(0.8,0.8,1);
	transform: translate3d(0,-25%,0) scale3d(0.8,0.8,1);
}

.surroundings,
.levels {
	position: absolute;
	top: 50%;
	left: 50%;
}

.levels {
	width: 96vmin;
	height: 64vmin;
	margin: -32vmin 0 0 -48vmin;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.surroundings,
.levels {
	-webkit-transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
	transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
}

.level {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.level::after {
	font-size: 2.5vmin;
	line-height: 0;
	position: absolute;
	z-index: 100;
	top: -2em;
    left: 3.5em;
	white-space: nowrap;
	color: #7d7d86;
	-webkit-transform: rotateZ(45deg) rotateX(-70deg) translateZ(5vmin);
	transform: rotateZ(45deg) rotateX(-70deg) translateZ(5vmin);
	-webkit-transition: -webkit-transform 1s, color 0.3s;
	transition: transform 1s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.level:hover::after,
.level--current::after {
	color: #515158;
}

.level--current::after {
	-webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vmin) translateX(5vmin) translateY(-10vmin);
	transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vmin) translateX(5vmin) translateY(-10vmin);
}

.level--1::after {
	content: 'L1';
}

.level--2::after {
	content: 'L2';
}

.level--3::after {
	content: 'L3';
}

.level--4::after {
	content: 'L4';
}

.level:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

.level--2 {
	-webkit-transform: translateZ(10vmin);
	transform: translateZ(10vmin);
}

.level--3 {
	-webkit-transform: translateZ(20vmin);
	transform: translateZ(20vmin);
}

.level--4 {
	-webkit-transform: translateZ(30vmin);
	transform: translateZ(30vmin);
}


/* Selection transitions */

.levels--selected-1 .level:not(.level--1),
.levels--selected-2 .level:not(.level--2),
.levels--selected-3 .level:not(.level--3),
.levels--selected-4 .level:not(.level--4) {
	opacity: 0;
	/* fade out all others */
}

/* Other levels */

.level--current ~ .level {
	-webkit-transform: translateZ(90vmin);
	transform: translateZ(90vmin);
}

.levels--selected-2 .level--1,
.levels--selected-3 .level--1,
.levels--selected-4 .level--1,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2,
.levels--selected-4 .level--3 {
	-webkit-transform: translateZ(-60vmin);
	transform: translateZ(-60vmin);
}

/* Delays */
/* 1 */

.levels--selected-1 .level--3,
.levels--selected-2 .level--3,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.levels--selected-1 .level--2,
.levels--selected-2 .level--current,
.levels--selected-2 .level--current::after,
.levels--selected-3 .level--current,
.levels--selected-3 .level--current::after,
.levels--selected-4 .level--3 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.levels--selected-1 .level--current,
.levels--selected-1 .level--current::after,
.levels--selected-4 .level--current,
.levels--selected-4 .level--current::after {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

/* Current level */

.level.level--current {
	-webkit-transform: translateZ(15vmin) rotate3d(0,0,1,20deg);
	/* go to center */
	transform: translateZ(15vmin) rotate3d(0,0,1,20deg);
}

/* Navigation classes */
.levels--open .level,
.levels--open .level::after {
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.levels--open .level.level--current {
	opacity: 1;
}

.levels--open .level.level--moveOutUp,
.levels--open .level.level--moveOutDown {
	opacity: 0;
}

.levels--open .level.level--moveOutUp {
	-webkit-transform: translateZ(90vmin);
	transform: translateZ(90vmin);
}

.levels--open .level.level--moveOutDown {
	-webkit-transform: translateZ(-60vmin);
	transform: translateZ(-60vmin);
}


/* Level nav */
.officenav {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
}

.officenav--hidden {
	pointer-events: none;
	opacity: 0;
}

/* Box button */
.boxbutton {
	font-size: 2em;
	display: block;
	width: 2em;
	height: 2em;
	margin: 0;
	padding: 0;
	color: #fff;
	border: 0;
	background: #d7d7dc;
}

.boxbutton--dark {
	background: #c4c4c7;
}

.boxbutton--darker {
	background: #2c2c2f;
}

.boxbutton--alt {
	background: #3d1975;
}

.boxbutton--disabled,
.boxbutton--disabled:focus,
.boxbutton--disabled:hover {
	cursor: default;
	pointer-events: none;
	opacity: 0.2;
}

/* Level map */

.map__ground {
	fill: #d7d7dc;
}

.map__outline {
	-webkit-transition: fill 0.3s;
	transition: fill 0.3s;
	fill: #bbb;
}

.level:hover .map__outline,
.level--current .map__outline {
	fill: #a6a3a8;
}

.map__tree {
	fill: #7bad7f;
}

.map__lake {
	fill: #a2bbdd;
}

.map__space {
	-webkit-transition: fill-opacity 0.8s;
	transition: fill-opacity 0.8s;
	fill: #bdbdbd;
	fill-opacity: 0.6;
}

.level--current .map__space {
	fill-opacity: 1;
}

 .map__space--selected {
 	fill: #A4A4A4;
 }


/* rooms */
.level__rooms a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.level__rooms--active {
	pointer-events: auto;
}

.room {
	position: absolute;
	/*width: 5.5vmin;*/
	/*height: 8.25vmin;*/
	/*margin: -8.25vmin 0 0 -2.25vmin; /* let the bottom tip be the reference point for individual coordinates*/
	/*-webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
	transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}

.raise {
  position: absolute;
  -webkit-transform: translateZ(90vmin);
  transform: translate3d(0,0,20px);

}

.room__box {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.level__rooms--active .room__box {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.room:nth-child(2) .room__box {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.room:nth-child(3) .room__box {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.room:nth-child(4) .room__box {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.room:nth-child(5) .room__box {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.room:nth-child(6) .room__box {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.room:nth-child(7) .room__box {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.room:nth-child(8) .room__box {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}
.room:nth-child(9) .room__box {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.room[data-category='1'] .box--room {
	fill: #7cbf7f;
}
.room[data-category='2'] .box--room {
	fill: #6584c7;
}
.room[data-category='3'] .box--room {
	fill: #dc4b7c;
}
.room[data-category='4'] .box--room {
	fill: #8d65e0;
}

.room--active .box--room {
	stroke: #515158;
	stroke-width: 15px;
}

.box--room {
	width: 100%;
	height: 100%;
}

.box--logo {
	position: absolute;
	top: 11%;
	left: 25%;
	width: 50%;
	height: 50%;
	fill: white;
	fill-opacity: 0.6;
	-webkit-transition: fill-opacity 0.3s;
	transition: fill-opacity 0.3s;
}

.room--active .box--logo,
.room:hover .box--logo {
	fill-opacity: 1;
}

/* rooms for floor 1 */
.room--1-1 { top: 60vmin; left: 8vmin; }
.room--1-2 { top: 15vmin; left: 15vmin; }
.room--1-3 { top: 15vmin; left: 88vmin; }
.room--1-4 { top: 40vmin; left: 77vmin; }
.room--1-5 { top: 33vmin; left: 38vmin; }
.room--1-6 { top: 6vmin; left: 27vmin; }
.room--1-7 { top: 36vmin; left: 61vmin; }
.room--1-8 { top: 9vmin; left: 59vmin; }
.room--1-9 { top: 8vmin; left: 51vmin; }

/* rooms for floor 2 */
.room--2-1 { top: 7vmin; left: 22vmin; }
.room--2-2 { top: 39vmin; left: 5vmin; }
.room--2-3 { top: 21vmin; left: 84vmin; }
.room--2-4 { top: 39vmin; left: 53vmin; }
.room--2-5 { top: 14vmin; left: 50vmin; }
.room--2-6 { top: 60vmin; left: 15vmin; }
.room--2-7 { top: 34vmin; left: 37vmin; }
.room--2-8 { top: 52vmin; left: 74vmin; }

/* rooms for floor 3 */
.room--3-1 { top: 17vmin; left: 15vmin; }
.room--3-2 { top: 42vmin; left: 5vmin; }
.room--3-3 { top: 19vmin; left: 85vmin; }
.room--3-4 { top: 61vmin; left: 57vmin; }
.room--3-5 { top: 58vmin; left: 25vmin; }
.room--3-6 { top: 30vmin; left: 57vmin; }
.room--3-7 { top: 32vmin; left: 37vmin; }

/* rooms for floor 4 */
.room--4-1 { top: 55vmin; left: 21vmin; }
.room--4-2 { top: 18vmin; left: 20vmin; }
.room--4-3 { top: 21vmin; left: 88vmin; }
.room--4-4 { top: 52vmin; left: 74vmin; }
.room--4-5 { top: 33vmin; left: 38vmin; }
.room--4-6 { top: 39vmin; left: 56vmin; }
.room--4-7 { top: 58vmin; left: 10vmin; }

/* Mobile compatability */
